/*
	A NC State brand-friendly color theme alternative
	Plenty of red and the full logo
*/


/* =Global
----------------------------------------------- */
body {
	background: #fff;
	color: #333;
}

/* =Header
----------------------------------------------- */
#branding, .widget_search {
	background-color:#fff !important;
	background: url(../images/logos/ncstate-brick-2x2-red-min.png) no-repeat 30px 26px;
}

#site-title a {
	color: #000;
}
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
	color:#666 !important;
}

#site-description {
	color: #333;
}

/* =Slider Header
----------------------------------------------- */

#player {}

#player .media .caption {background:#f2f2f2;}



/* =Menu
----------------------------------------------- */

#access {
	background: #fff;
	margin-bottom:10px;
}

#access ul ul a:hover {
	background: #c00 !important; 
	color:#fff !important;
}

/* =Content
----------------------------------------------- */

.page-title {
	color: #ccc;
}

/*	=Widgets
----------------------------------------------- */
/* default widget colors */
.widget {
	margin:4px;
	color:#333;
}
.widget a {
	color:#666;
	font-weight:bold;
}
.widget-title {
	color: #a20000;
}

/* base widgets can be customized to brand colors
.widget_nav_menu
.widget_categories
.widget_recent_entries
.widget_recent_comments
.widget_archive
*/

/* Meta Widget */
.widget_meta, .widget_nav_menu {}
.widget_meta .widget-title,
.widget_nav_menu .widget-title
 {}

/* Search Widget */
.widget_search {
}


/* =Footer
----------------------------------------------- */

#supplementary {background-color: #c00; font-family:UniversLight, Arial, sans-serif;}
#supplementary.credits {
	color:#d1d1d1;
	background-color: #900;
}

#supplementary a, #supplementary .widget-title  {
	color:#f2f2f2;
}

@media print {

.skip-link, #ncstate-branding-bar-container, #branding, #access, #secondary, #supplementary {display:none !important;}
   
}

