/*
	A NC State brand-friendly color theme alternative
	Black background with red accents
*/


/* =Global
----------------------------------------------- */
body {
	background: #000;
	color: #333;
}

/* =Header
----------------------------------------------- */
#branding{
	background-color:#fff !important;
	background: url(../images/logos/ncstate-brick-2x2-red-min.png) no-repeat 30px 26px;
}	

#site-title a {
	color: #333;
}
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
	color:#900 !important;
}

#site-description {
	color: #666;
}
/* =Slider Header
----------------------------------------------- */

#player {border-bottom:solid 1px #999;}

#player .media .caption {background:#f2f2f2;}


/* =Menu
----------------------------------------------- */

#access {
	background: #fff;
}

#access ul ul a:hover {
	background: #c00 !important; 
	color:#fff !important;
}

/* =Content
----------------------------------------------- */

.page-title {
	color: #ccc;
}

#primary #content {
	margin: 16px 34% 0 2.8%;
	width: 97.3%;
}

div #secondary, .singular #secondary {
	margin:3px 1.1% 8px 4px;
}

/*	=Widgets
----------------------------------------------- */
/* default widget colors */
.widget {
	margin:4px;
	color:#333;
}
.widget a {
	color:#666;
	font-weight:bold;
}
.widget-title {
	color: #c00;
}

/* base widgets can be customized to brand colors
.widget_nav_menu
.widget_categories
.widget_recent_entries
.widget_recent_comments
.widget_archive
*/

/* Meta Widget */
.widget_meta, .widget_nav_menu {}
.widget_meta .widget-title,
.widget_nav_menu .widget-title
 {}

/* Search Widget */
.widget_search {
}


/* =Footer
----------------------------------------------- */

#supplementary {background-color: #d2d2d2; font-family:UniversLight, Arial, sans-serif;}
#supplementary.credits {
	color:#333;
	background-color: #333;
}

#supplementary a, #supplementary .widget-title  {
	color:#000;
}
#supplementary aside a {color:#333;}
#supplementary .widget ul li, #supplementary aside a:hover {color:#666;}

@media print {

.skip-link, #ncstate-branding-bar-container, #branding, #access, #secondary, #supplementary {display:none !important;}
   
}


