/*
	A NC State brand-friendly color theme alternative
	Red with a pale gray background; red accents
*/


/* =Global
----------------------------------------------- */
body {
	background: #f2f2f2;
	color: #333;
}


/* Links */



/* =Header
----------------------------------------------- */
#branding {
	background-color:#c00 !important;
	background: url(../images/logos/ncstate-brick-2x2-red-min.png) no-repeat 30px 26px;
}
	

#branding img {border-top: solid 1px #fff;}

#site-title a {
	color: #f2f2f2;
}
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
	color:#900 !important;
}

#site-description {
	color: #f2f2f2;
}


/* =Menu
----------------------------------------------- */

#access {
	background: #fff;
}

#access ul ul a:hover {
	background: #c00 !important; 
	color:#fff !important;
}

/* =Content
----------------------------------------------- */

.page-title {
	color: #ccc;
}

#primary #content {
	margin: 16px 34% 0 2.8%;
	width: 97.3%;
}

div #secondary, .singular #secondary {
	margin:3px 1.1% 8px 4px;
}

/*	=Widgets
----------------------------------------------- */
/* default widget colors */
.widget {
	margin:4px;
	color:#333;
}
.widget a {
	color:#666;
	font-weight:bold;
}
.widget-title {
	color: #c00;
}

/* base widgets can be customized to brand colors
.widget_nav_menu
.widget_categories
.widget_recent_entries
.widget_recent_comments
.widget_archive
*/

/* Meta Widget */
.widget_meta, .widget_nav_menu {}
.widget_meta .widget-title,
.widget_nav_menu .widget-title
 {}

/* Search Widget */
.widget_search {
}


/* =Footer
----------------------------------------------- */

#supplementary {background-color: #c00; font-family:UniversLight, Arial, sans-serif;}
#supplementary.credits {
	color:#d1d1d1;
	background-color: #900;
}

#supplementary a, #supplementary .widget-title  {
	color:#f2f2f2;
}

@media print {

.skip-link, #ncstate-branding-bar-container, #branding, #access, #secondary, #supplementary {display:none !important;}
   
}


