
/*
	A NC State brand-friendly color theme alternative
	Heavy gray image border with extra nav decoration; dark footer; white-back logo
*/


/* =Global
----------------------------------------------- */
body {
	background: #fff;
	color: #333;
}

/* =Header
----------------------------------------------- */
#branding {
	background-color:#fff !important;
	background: url(../images/logos/ncstate-type-2x2-blk-min.png) no-repeat 30px 26px;
}

#branding img {margin-left:-8px;}

#site-title a {
	color: #000;
}
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
	color:#666 !important;
}

#site-description {
	color: #333;
}

#branding img {
	border: solid 10px #333;
}

/* =Slider Header
----------------------------------------------- */

.page-template-slider #branding img, #branding .banner-height img {
	border: none;
}
#player, #branding .banner-height {border:solid 10px #333;}

#branding .banner-height {margin-left:-8px;}
#branding .banner-height img {margin:0;}

/* =Menu
----------------------------------------------- */

#access {
	background: #fff;
	border-bottom: solid 4px #000;
	margin-bottom:12px;
}

#access ul ul a:hover {
	background: #333 !important; 
	color:#fff !important;
}

#access li.current-menu-item {
	background-color:#333;
}
#access li.current-menu-item a {color:#fff;}
#access ul.sub-menu li a {color: #000;}


/* =Content
----------------------------------------------- */

.page-title {
	color: #ccc;
}

/*	=Widgets
----------------------------------------------- */
/* default widget colors */
.widget {
	margin:4px;
	color:#333;
}
.widget a {
	color:#666;
	font-weight:bold;
}
.widget-title {
	background-color: #333;
	color: #fff;
	padding:12px 8px 6px 10px;
	border-bottom:#000 solid 4px;
}

/* base widgets can be customized to brand colors
.widget_nav_menu
.widget_categories
.widget_recent_entries
.widget_recent_comments
.widget_archive
*/

/* Meta Widget */
.widget_meta, .widget_nav_menu {}
.widget_meta .widget-title,
.widget_nav_menu .widget-title
 {}

/* Search Widget */
.widget_search {
}


/* =Footer
----------------------------------------------- */

#supplementary {background-color: #333; font-family:UniversLight, Arial, sans-serif;}
#supplementary.credits {
	color:#d1d1d1;
	background-color: #000;
}

#supplementary a, #supplementary .widget-title  {
	color:#d2d2d2;
}

@media print {

.skip-link, #ncstate-branding-bar-container, #branding, #access, #secondary, #supplementary {display:none !important;}
   
}
